<div class="side-videos">
	<h1>Playlist Explorer</h1>
	<form id="playlist-selector" action="">
		<input type="text" id="playlist-id" placeholder="Playlist ID (e.g. 'PLA822A8431EC21CA7')">
		<input type="submit" value="Go" id="playlist-submit">
	</form>

</div>