<div class="playlist-section">
	<h1>Playlist Explorer</h1>
	<ul id="playlist-input-errors" class="errors">
	</ul>
	<form id="playlist-selector">
		<input type="text" id="playlist-id" placeholder="Playlist ID (e.g. 'PLA822A8431EC21CA7')" value="<%= @playlist_id %>">
		<input type="submit" value="Go" id="playlist-submit">
	</form>
	<div id="playlist-loading-cue" class="cue">
		Loading...
	</div>
	<div id="playlist-results">
		<h2 id="playlist-title">

		</h2>
		<div id="playlist-information">

		</div>
		<div id="playlist-videos">

		</div>
	</div>
</div>