<div class="side-videos">
	<h1>Playlist Explorer</h1>
	<ul id="playlist-input-errors" class="errors">
	</ul>
	<form id="playlist-selector">
		<input type="text" id="playlist-id" placeholder="Playlist ID (e.g. 'PLA822A8431EC21CA7')">
		<input type="submit" value="Go" id="playlist-submit">
	</form>
	<div id="playlist-results">

	</div>

</div>