@import "helpers.sass"

$button-background: #cfcfcf

input
	&[type=text]
		padding: 6px 5px
	&[type=submit]
		background: $button-background
		font-weight: bold
		padding: 6px 5px
		border: 1px solid #a9a9a9
		border-radius: 4px
		box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8)
		cursor: pointer
		&:hover
			background: lighten($button-background, 5%)
		&:active
			box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .4)
			background: darken($button-background, 2%)

#main-container
	.side-videos
		position: absolute
		height: 100%
		width: 350px
		left: 20px
		background: #e9e9e9
		padding: 20px
		border:
			width: 0
			color: #d9d9d9
			style: solid
			right-width: 1px
			left-width: 1px
		input
			display: block
			float: left
			&#playlist-id
				width: 75%
			&#playlist-submit
				float: right
				width: 20%
	