@import "helpers.sass"

$input-padding: 6px 5px
$input-border: 1px solid #b2b2b2
$input-height: 30px

$button-background: #adc6e5
$button-color: #548bcf
$button-border: 1px solid #6183ad

$textfield-background: white

input
	&[type=text]
		padding: $input-padding
		border: $input-border
		box-shadow: inset 0px 1px 2px rgba(#000, 0.1)
		height: $input-height
	&[type=submit]
		color: $button-color
		text-shadow: 0px 1px 0px rgba(#fff, .8)
		background: $button-background
		font-weight: bold
		height: $input-height
		padding: $input-padding
		border: $button-border
		border-radius: 4px
		box-shadow: inset 0px 1px 0px rgba(#fff, .8)
		cursor: pointer
		&:hover
			background: lighten($button-background, 5%)
		&:active
			box-shadow: inset 0px 1px 0px rgba(#fff, .4)
			background: darken($button-background, 2%)

#main-container
	.side-videos
		box-sizing: border-box
		position: absolute
		height: 100%
		width: 350px
		left: 20px
		background: #f5f5f5
		padding: 20px
		border:
			width: 0
			color: #d9d9d9
			style: solid
			right-width: 1px
			left-width: 1px
		input
			display: block
			float: left
			&#playlist-id
				width: 75%
			&#playlist-submit
				float: right
				width: 20%
	